<IfModule mod_rewrite.c>
	Options -Indexes

	RewriteEngine On

	RewriteRule ^pages/hackathon$ pages/events/hackDetails.php [NC,L]
	RewriteCond %{HTTP_HOST} www.pallottine-technex.com
	RewriteRule (.*) https://pallottine-technex.com/$1 [R=301,L]

	RewriteRule ^([^\.]+)$ $1.php [NC,L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.php  [L]

</IfModule>


